<div id="calc-header" class="ma__page-header__content">
    <img src="../images/mass-logo.png" alt="Mass.gov" width="164">
    <h1 class="ma__page-header__title">MA State Pension Estimator</h1>
    <section id="calc-description" class="ma__rich-text">
        <p>This pension calculator will give members of the Massachusetts Employees' State Retirement System in groups
            1, 2 or 4 an approximation of their retirement benefits.</p>
    </section>
</div>

<div class="progress">
    <div class="progress-bar"
         role="progressbar"
         style="width: {{progress}}%"
         aria-valuenow="{{progress}}"
         aria-valuemin="0"
         aria-valuemax="100"></div>
</div>

<form id="step-form" class="ma__form-page" name="mainForm">
    <h2 id="step-title" class="ma__comp-heading">{{stepTitle}}</h2>

    <div ng-switch on="step.alias" class="animate-switch-container">
        <div class="animate-switch" ng-switch-when="agree">
            <div class="ma__form-page">
                <h3 class="ma__page-header__sub-title"></h3>
                <p><em><strong>Please Read and Agree Before Continuing</strong></em></p>
                <p>
                    I understand that the information and/or calculations displayed on this site do not necessarily
                    reflect the actual amount of my retirement allowance. The results provided by this calculator are
                    approximations and should not be considered as the final determination of my retirement benefit.
                    They should not be relied upon for planning purposes.
                </p>
                <fieldset>

                    <button class="ma__button ma__button--small"
                            ng-click="forward()">Agree and Proceed
                    </button>
                </fieldset>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="step1">
            <div class="ma__form-page">
                <fieldset id="dob">
                    <label for="dob-input" class="ma__label ma__label--required">Date of Birth</label>
                    <div class="ma__error-msg" ng-show="showError(counter)">{{showError(counter)}}</div>
                    <input id="dob-input"
                           class="ma__input-date"
                           moment-picker="form.birthDate"
                           type="text"
                           format="DD/MM/YYYY"
                           max-view="month"
                           start-view="decade"
                           min-date="yearsAgoString(120, 'DD/MM/YYYY')"
                           max-date="yearsAgoString(36, 'DD/MM/YYYY')"
                           set-on-select="true"
                           placeholder="Choose a date..."
                           ng-model="form.birthDate">
                    </input>
                </fieldset>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="step2">
            <div class="ma__form-page">
                <fieldset>
                    <div class="ma__error-msg" ng-show="showError(counter)">{{showError(counter)}}</div>
                    <div class="ma__input-group__items">
                        <div class="ma__input-group__item">
                        <span class="ma__input-radio">
                            <input id="group1" type="radio"
                                   ng-model="form.groupName" ng-value="'Group 1'"/>
                            <label for="group1">Group 1</label>
                            <span class="checkmark"></span>
                        </span>
                        </div>
                        <div class="ma__input-group__item">
                        <span class="ma__input-radio">
                            <input id="group2" type="radio"
                                   ng-model="form.groupName" ng-value="'Group 2'"/>
                            <label for="group2"><span>Group 2</span></label>
                            <span class="checkmark"></span>
                        </span>
                        </div>
                        <div class="ma__input-group__item">
                        <span class="ma__input-radio">
                            <input id="group4" type="radio"
                                   ng-model="form.groupName" ng-value="'Group 4'"/>
                            <label for="group4"><span>Group 4</span></label>
                            <span class="checkmark"></span>
                        </span>
                        </div>
                    </div>
                </fieldset>
                <div class="clear"></div>
                <label class="ma__helper-text">
                    <p>The retirement board classifies members within one of the four
                        <a href="https://malegislature.gov/Laws/GeneralLaws/PartI/TitleIV/Chapter32/Section3">applicable
                            groups</a>.
                        <br/>Your group classification may impact your individual retirement allowance.</p>
                    <p>Group 3 is not available in this calculator.</p>
                </label>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="step3">
            <div class="ma__form-page">
                <fieldset ng-show="showError(counter)">
                    <div class="ma__error-msg" ng-show="showError(counter)">{{showError(counter)}}</div>
                </fieldset>
                <fieldset>
                    <label for="startDate" class="ma__label ma__label--required">Employment Start Date</label>
                    <input id="startDate"
                           class="ma__input-date"
                           moment-picker="form.startDate"
                           type="text"
                           format="MMMM YYYY"
                           max-view="year"
                           start-view="decade"
                           min-date="''"
                           max-date="''"
                           set-on-select="true"
                           placeholder="Choose a date..."
                           ng-model="form.startDate">
                    </input>
                </fieldset>

                <fieldset>
                    <label for="endDate" class="ma__label ma__label--required">Employment End Date</label>
                    <input id="endDate"
                           class="ma__input-date"
                           moment-picker="form.endDate"
                           type="text"
                           format="MMMM YYYY"
                           max-view="year"
                           start-view="decade"
                           min-date="''"
                           max-date="''"
                           set-on-select="true"
                           placeholder="Choose a date..."
                           ng-model="form.endDate">
                    </input>
                    <div class="clear"></div>
                    <label for="endDate" class="ma__helper-text">Your projected date of retirement.</label>
                </fieldset>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="step4">
            <div class="ma__form-page">
                <fieldset ng-show="showError(counter)">
                    <div class="ma__error-msg" ng-show="showError(counter)">{{showError(counter)}}</div>
                </fieldset>
                <fieldset>
                    <label for="highestPay">Highest Pay in Period (This text needs to change depending on start
                        date)</label>
                    <input id="highestPay"
                           ng-model="form.highestAverageSalary"
                           type="number"
                           placeholder="Dollar amount"
                           min="0" />
                    <div class="clear"></div>
                    <label for="highestPay" class="ma__helper-text">
                        Estimated average of your highest thirty-six consecutive months of annual regular compensation.
                    </label>
                </fieldset>

                <fieldset>
                    <label for="yearsWorked" class="ma__label ma__label--required">
                        How many years of credible service did you have?</label>
                    <input type="number"
                           min="0" max="100"
                           id="yearsWorked"
                           ng-model="form.yearsWorked"/>
                </fieldset>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="step5">
            <div class="ma__form-page">
                <fieldset>
                    <label class="ma__label ma__label--required">Are you a military veteran?</label>
                    <div class="ma__error-msg" ng-show="showError(counter)">{{showError(counter)}}</div>
                    <div class="ma__input-group__items ma__input-group__items--inline">
                        <div class="ma__input-group__item">
                        <span class="ma__input-radio">
                            <input id="veteran" type="radio"
                                   ng-model="form.isVeteran" ng-value="true"/>
                            <label for="veteran"><span>Yes</span></label>
                            <span class="checkmark"></span>
                        </span>
                        </div>
                        <div class="ma__input-group__item">
                        <span class="ma__input-radio">
                            <input id="nonVeteran" type="radio"
                                   ng-model="form.isVeteran" ng-value="false"/>
                            <label for="nonVeteran"><span>No</span></label>
                            <span class="checkmark"></span>
                        </span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="step6">
            <div class="ma__form-page">
                <fieldset>
                    <label for="beneBirthDate" class="ma__label ma__label--required">Beneficiary Date of Birth</label>
                    <input id="beneBirthDate"
                           class="ma__input-date"
                           moment-picker="form.beneBirthDate"
                           type="text"
                           format="DD/MM/YYYY"
                           max-view="month"
                           start-view="decade"
                           min-date="''"
                           max-date="''"
                           set-on-select="true"
                           placeholder="Choose a date..."
                           ng-model="form.beneBirthDate">
                    </input>
                    <div class="clear"></div>
                    <label class="ma__helper-text">
                        If you are interested in estimating your benefits under Option C, enter your beneficiary's age
                        on the birthdays that are closest to your date of retirement.
                        <br/><strong>Reminder: Your Option C beneficiary must be your spouse, child, sibling, parent or
                        former spouse who has not remarried.</strong>
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="results">
            <!--<div class="alert alert-success" role="alert">-->
            <!--<h4 class="alert-heading">Calculation Results</h4>-->
            <!--<p>Below are your results</p>-->
            <!--</div>-->

            <div class="row">
                <div class="col-sm-4">
                    <h2>Option A - No Survivor Benefit</h2>
                    <h3>${{ results.optionA.annualPension.toFixed(0) }} Annually</h3>
                    <p>Option A will provide you with your full retirement allowance in monthly
                        payments as long as you live. However, all allowance payments stop when
                        you die and no benefits are provided to survivors.</p>
                </div>
                <div class="col-sm-4">
                    <h2>Option B - Protects Your Annuity</h2>
                    <h3>${{ results.optionB.annualPension.toFixed(0) }} Annually</h3>
                    <p>Option B provides a lifetime allowance to you that is approximately 1% to
                        5% less per month than Option A.* The annuity portion of your allowance
                        is reduced to allow a benefit for your beneficiary. Upon your death, your
                        surviving beneficiary of record, or if there is no beneficiary living, the person
                        or persons appearing in the judgment of the State Retirement Board to be
                        entitled, will be paid the remaining balance of your accumulated total deduc-
                        tions from your annuity reserve account.</p>
                </div>
                <div class="col-sm-4">
                    <h2>Option C - Joint Survivor Allowance</h2>
                    <h3>{{ results.optionC.annualPension.toFixed(0) ? "$"+results.optionC.annualPension.toFixed(0)+" Annually" : "N/A"}} </h3>
                    <p>Option C, also known as the joint and last survivor allowance, provides you
                        with a lifetime allowance approximately 7-15% less than that which you would
                        receive under Option A. However, this reduction could be greater depending
                        on the age difference between you and your beneficiary. Upon your death, your
                        designated beneficiary will be paid a monthly allowance for the remainder of
                        his or her life. </p>
                </div>
            </div>
            <div class="row">
              <div class="text-center">
                For more information on these options, visit page 18 of
                <a target="_blank" href="http://www.mass.gov/treasury/docs/retirement/retguide2015.pdf">this</a> document.
              </div>
            </div>

        </div>
    </div>

    <div ng-show="saveLink" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Calculation Saved!</h4>
        <p>Please save the link below. If you lose it you will lose access to this calculation forever!</p>
        <hr>
        <p class="mb-0"><strong><a href="{{saveLink}}"></a>{{saveLink}}</strong></p>
    </div>

    <fieldset ng-show="counter > 0">
        <button ng-show="counter >= 1"
                ng-click="backward()"
                class="ma__button ma__button--minor ma__button--small">
            Back
        </button>
        <button ng-show="counter < max"
                ng-click="forward()"
                class="ma__button ma__button--small">
            Next
        </button>
        <button ng-show="counter == max"
                ng-click=""
                class="ma__button ma__button--small">
            Recalculate
        </button>
        <button ng-show="counter == max"
            ng-click="createCalculation()"
            class="ma__button ma__button--small">
            Save This Calculation.
        </button>
    </fieldset>
</form>
