// bower:scss
// endbower

@import "_colors.scss";
@import "_elements.scss";
@import "_fonts.scss";
@import "_pikaday.scss";
@import "_custom720kb.scss";

*, *::after, *::before {
  box-sizing: inherit;
}
*, *::after, *::before {
  box-sizing: inherit;
}
*, *::after, *::before {
  box-sizing: inherit;
}
html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  font-size: 1.375rem;
  line-height: 1.5;
}



.ma__page-header {
  @media (min-width: 911px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.ma__page-header__title {
  margin-bottom: .4em;
}

.ma__page-header__sub-title {
  color: #141414;
  font-weight: 700;
  font-size: 29.008px;
  font-size: 1.813rem;
  line-height: 1.2;
  margin-bottom: 1em;
  @media (min-width: 911px) {
    padding-right: 85px;
    width: calc(100% - 295px);
  }
}

.clear {
  clear:both;
}

.ma__error-msg {
  color: #cd0d0d;
  font-weight: 500;
  //display: none;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-bottom: .5em;
}

.ma__helper-text {
  font-style: italic;
  font-weight: normal;

  font-size: 16px;
  font-size: 1rem;
  line-height: 23.008px;
  line-height: 1.438rem;
  margin-top: 10px;

  margin-top: 10px;
}

legend, label {
  font-weight: 500;
  display: block;
  margin-bottom: .25em;
}

input, optgroup, select, textarea {
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  min-height: 40px;
}

.ma__input-date[type=text] {
  background-image: url("../images/date-picker.svg");
  background-position: right 8px top 7px;
  background-repeat: no-repeat;
}

button, input, optgroup, select, textarea {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  margin: 0;
}

.ma__page-header__content {
  padding-top: 30px;
  padding-bottom: 40px;

  @media (min-width: 911px) {
    padding-top: 75px;
    padding-bottom: 60px;
  }

  @media (min-width: 781px) {
    padding-top: 65px;
    padding-bottom: 45px;
  }

  @media (min-width: 621px) {
    padding-top: 40px;
  }
}

.ma__select-box__field {
  display: block;
  font-size: 0;
  position: relative;
}

.ma__form-page > fieldset {
  margin-top: 30px;
  position: relative;
  @media (min-width: 621px) {
    margin-top: 45px;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-width: -webkit-min-content;
}

.ma__button {
  font-weight: 700;
  background-color: #14558f;
  border-color: transparent;
  color: #fff;
}

.ma__button-alt--small, .ma__button-minor--small, .ma__button-minor-alt--small, .ma__button--small {
  border: 3px solid;
  box-shadow: 0 0.25rem 0.5rem rgba(1,1,1,0.25);
  display: inline-block;
  letter-spacing: 0.1em;
  padding: 0.4em 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
  border-color: transparent;
}

.ma__button-minor, .ma__button--minor {
  font-weight: 700;
  background-color: #fff;
  border-color: rgba(20,85,143,0.5);
  color: $c-theme-blue;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button {
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  cursor: pointer;
}

input, select {
  background-color: #fff;
  color: #535353;
  border: 2px solid;
  max-width: 100%;
  min-height: 40px;
  padding: 0 18px;
  border-color: #dcdcdc;
}

.ma__select-box__select {
  -webkit-appearance: none;
  border-radius: 0;
  width: 200px;
  //position: absolute;
  //top: 0;
  //left: 0;
  //width: 50px;
  //z-index: 2;
  //
  //
  //color: #535353;
  //font-weight: 300;
  //
  //background-color: rgb(248, 248, 248);
  //background: transparent;
  //border: 1px solid rgb(166, 166, 166);
  //border-radius: 0;
  //border-image: initial;
  //align-items: center;
}

.ma__comp-heading {
  position: relative;
}

.ma__comp-heading:after {
  background-color: rgba(67, 149, 111, 0.5);
}

.ma__comp-heading:not(.ma__comp-heading--sidebar) {
  position: relative;
  padding-bottom: 15px;
}

.ma__comp-heading:not(.ma__comp-heading--sidebar):after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0.075em;
  -webkit-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  transform: skew(-30deg);
  width: 85px;
}

.ma__comp-heading:not(.ma__comp-heading--sidebar):after {
  width: 1.85em;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  @media (min-width: 1201px) {
    font-size: 4rem;
  }
  @media (min-width: 911px) {
    font-size: 4rem;
  }
  @media (min-width: 781px) {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.222222;

  @media (min-width: 621px) {
    font-size: 2.688rem;
  }
}


.ma__input-radio {
  display: inline-block;
  position: relative;



  input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  label {
    font-weight: 400;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 16px;
    line-height: 1rem;
    padding-left: 1.5em;
  }



  :checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkmark:after {
    top: 4px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $c-bd-input-dark;
  }

  label:before {
    border: 2px solid;
    border-radius: 100%;
    content: "\2022";
    display: inline-block;
    width: .46em;
    height: .46em;
    font-size: 2.5em;
    line-height: calc(.45em - 11px);
    margin-right: .125em;
    position: absolute;
    top: -0.08em; /* mayflower was -.025em*/
    left: 0;
    text-align: center;
    overflow: hidden;

    background-color: #fff;
    border-color: #757575;
    color: transparent;
  }
}

.ma__input-group__items--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px;

  .ma__input-group__item {
    margin-left: 30px;
  }
}

.progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 0;
  .progress-bar {
    background-color: $c-theme-green;
  }
}

.ma__input-date[type=date] {
  background-image: url(../images/date-picker.svg);
  background-position: right 8px top 7px;
  background-repeat: no-repeat;
}

///* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//  .container {
//    max-width: 730px;
//  }
//
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-left: 0;
//    padding-right: 0;
//  }
//  /* Space out the masthead */
//  .header {
//    margin-bottom: 30px;
//  }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
//}
