<div class="page-header">
    <h1>Estimate Your Pension! </h1>
    <p>Complete the steps below:</p>
</div>

<form>
    <div class="progress">
        <div class="progress-bar"
             role="progressbar"
             style="width: {{progress}}%"
             aria-valuenow="{{progress}}"
             aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>

    <div ng-switch on="step" class="animate-switch-container">
        <div class="animate-switch" ng-switch-when="step1">
          <div class="form-group">
              <label for="datepicker">Date of Birth</label>
              <datepicker>
                  <input id="datepicker" ng-model="date" type="text"/>
              </datepicker>
          </div>
          <div class="form-group">
              <button ng-click="showStep('step2')" class="btn btn-success btn-lg btn-block">Next</button>
          </div>
        </div>
        <div class="animate-switch" ng-switch-when="step2">
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" class="form-control" id="email" placeholder="email address" required="required">
            </div>
            <div class="form-group">
                <button ng-click="showStep('step3')" class="btn btn-success btn-lg btn-block">Next</button>
            </div>
        </div>
        <div class="animate-switch" ng-switch-when="step3">
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name" required="required">
          </div>
          <div class="form-group">
              <button ng-click="showStep('step4')" class="btn btn-success btn-lg btn-block">Next</button>
          </div>
        </div>
        <div class="animate-switch" ng-switch-when="step4">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">YAY YOURE DONE!!!!!</h4>
                <p>Aww yeah, you successfully completed the pension calculator.</p>
            </div>
        </div>
    </div>
</form>
